{% extends 'eventBase.html' %}

{% block content %}

<H1 class="text-left mt-2">Teilnehmer</H1>

<p>
    <a href="{{ url_for('eventAdmin', adminToken=event_data.adminToken, eventID=event_data.eventID) }}">Zurück zur
        Verwaltung <i class="icon icon-arrow-left"></i></a>
</p>

<p>
    Anzahl Teilnehmer: {{ attendee_data|length }}
</p>

<table class="table">
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Klasse</th>
        <th>E-Mail Adresse</th>
        <th></th>
        <th>AG</th>
        <th></th>
    </tr>

    {% for a in attendee_data %}
    <tr style="vertical-align: top; ">
        <td>{{ a.firstName }}</td>
        <td>{{ a.familyName }}</td>
        <td>{{ a.klasse }}</td>
        <td>
            {% if a.mailVerificationToken %}
            <a
                href="{{ url_for('eventAdmin_verifyMail', adminToken=event_data.adminToken, eventID=event_data.eventID, mailVerificationToken=a.mailVerificationToken) }}"><i
                    class="icon icon-cross text-error"></i></a>
            {% else %}
            <i class="icon icon-check text-success"></i>
            {% endif %}
            {{ a.mail }}
        </td>
        <td>{{ a.AGs.replace("|", "<br />") | safe }}</td>

        <td>
            <a class="confirmation"
                href="{{ url_for('eventAdmin_attendees_delete', adminToken=event_data.adminToken, eventID=event_data.eventID, attendeeID=a.attendeeID) }}">Löschen
                <i class="icon icon-delete"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h3>Übersicht AG Belegung</h3>

<table class="table">
    <tr>
        <th>AG</th>
        <th>Anzahl</th>
    </tr>
    {% for a in activity_data %}
    <tr style="vertical-align: top; ">
        <td>{{ a.title }}</td>
        <td>{{ a.count }}</td>
    </tr>
    {% endfor %}
</table>

<div class="p-2"></div>

<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Teilnehmer wirklich löschen?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>

{% endblock %}