{% extends 'electionBase.html' %}

{% block content %}

<h2>
    Abstimmung
</h2>

<div class="columns">
    <div class="column col-3 col-xs-12">
        <p>
            {{ election_data.description }}
        </p>
        <p class="text-small">Insg. {{ election_data.count_total }} Stimmen von:<br />
            {{ ", ".join(names) }}
        </p>
        <div>
            Link zur Abstimmung:
        </div>
        <img src="{{ url_for('election.qr', electionID=election_data.electionID) }}" width="80%" />
    </div>

    <div class="column col-9 col-xs-12">
        <form name="form1" class="" action="{{ url_for('election.vote', electionID=election_data.electionID) }}"
            method="POST">

            {{ form.csrf_token }}

            {% if request.cookies.get('voted') == election_data.electionID %}
            <div class="toast toast-success">
                Danke für deine Stimme.
            </div>
            {% else %}
            Bitte eine {% if election_data.mode==0 %}oder mehrere {% endif %}Möglichkeiten auswählen:
            {% endif %}

            {% for o in election_options %}
            <div class="form-group">
                <label class="form-{{ election_data.widget }}">
                    <input type="{{ election_data.widget }}" name="option" value="{{ o['optionID'] }}" {% if
                        request.cookies.get('voted')==election_data.electionID %}disabled{% endif %} {% if o.rank==99
                        and election_data.mode==1 and not request.cookies.get('voted') %}checked{% endif %}>
                    <i class="form-icon"></i> {{ o.name }} ({{ o.count }} Stimmen)
                </label>
            </div>
            {% endfor %}

            <div class="columns form-group">
                <div class="column col-6 col-sm-12 form-inline">
                    <input class="form-input" id="name" maxlength="50" name="name"
                        placeholder="{{form.name.label.text}}" required="" type="text" value="" {% if
                        request.cookies.get('voted')==election_data.electionID %}disabled{% endif%}>
                </div>

                <div class="column col-6 col-sm-12 form-inline">
                    <button class="btn btn-primary btn-block" {% if
                        request.cookies.get('voted')==election_data.electionID %}disabled{% endif %}>Abstimmen</button>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}