{% extends 'electionBase.html' %}

{% block content %}

<h2>
    Abstimmung bearbeiten
</h2>

<div class="columns">
    <div class="column col-12">

        <form name="form1" class="" action="{{ url_for('election.vote', electionID=election_data.electionID) }}"
            method="POST">

            <p>
                <textarea class="editor form-input" name="description"
                    rows="15">{{ election_data.description }}</textarea>
                <script src="/static/ckeditor.js"></script>
                <script>ClassicEditor
                        .create(document.querySelector('.editor'), {
                            licenseKey: '',
                        })
                        .then(editor => {
                            window.editor = editor;
                        })
                        .catch(error => {
                            console.error('Oops, something went wrong!');
                            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                            console.warn('Build id: lhsa3bvxspkt-ya513se3c5et');
                            console.error(error);
                        });
                </script>
            </p>

            <div class="form-group form-inline">
                <label class="form-label form-inline">Ende der Abstimmung: </label>
                <input type="datetime-local" name="deadline" value="{{ election_data.deadline_str }}">
            </div>
            <p>
                Nach dem Ende der Abstimmung steht sie zur Ansicht des Ergebnis noch zwei Wochen zur Verfügung,
                ohne das man noch abstimmen kann.
                Danach werden alle Daten automatisch gelöscht.
            </p>

            <div class="form-group">
                <label class="form-label form-inline">Abstimmungsauswahl:</label>
                <label class="form-radio form-inline">
                    <input type="radio" name="mode" value="0" checked>
                    <i class="form-icon"></i> Mehrfachauswahl möglich
                </label>
                <label class="form-radio form-inline">
                    <input type="radio" name="mode" value="1">
                    <i class="form-icon"></i> Nur einfachauswahl möglich
                </label>
            </div>

            <ul style="list-style-position: outside">
                {% for o in election_options %}
                <li>
                    {{ o.name }}
                    &emsp;<a href="#"><i class="icon icon-arrow-up"></i></a>
                    <a href="#"><i class="icon icon-arrow-down"></i></a>
                    &emsp;<a href="#"><i class="icon icon-delete"></i></a>

                </li>
                {% endfor %}

                <li>
                    <div class="input-group">
                        <input class="form-input" type="text" placeholder="Auswahl" size="20">
                        <button class="btn input-group-btn"><i class="icon icon-plus"></i> Auswahl hinzufügen</button>
                    </div>
                </li>
            </ul>

            <div class="p-2"></div>

            <div class="columns">
                <div class="column col-3 col-sm-12 form-inline">
                    <button class="btn btn-primary btn-block"><i class="icon icon-check"></i> Speichern</button>
                </div>

                <div class="column col-4 col-sm-12 form-inline">
                    <button class="btn btn-error btn-block"><i class="icon icon-refresh"></i> Abstimmung
                        zurücksetzen</button>
                </div>

            </div>
        </form>

    </div>
</div>

{% endblock %}