{% extends 'eventBase.html' %}

{% block content %}

<h1>Neue Veranstaltung anlegen</h1>

<form class="form-horizontal"
    action="{{ url_for('eventAdmin_event_save', adminToken=event_data.adminToken, eventID=event_data.eventID) }}"
    method="POST" enctype="multipart/form-data">

    {% if add == True %}
    <h4>Verwalter der Veranstaltung:</h4>

    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">Vorname</label>
        </div>
        <div class="col-9 col-sm-12">
            <input class="form-input" type="text" name="firstName" placeholder="Vorname">
        </div>
    </div>

    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">Nachname</label>
        </div>
        <div class="col-9 col-sm-12">
            <input class="form-input" type="text" name="familyName" placeholder="Nachname">
        </div>
    </div>

    <div class="form-group">
        <div class="col-3 col-sm-12">
            <label class="form-label" for="input-example-1">E-Mail</label>
        </div>
        <div class="col-9 col-sm-12">
            <input class="form-input" type="text" name="mail" placeholder="E-Mail">
        </div>
    </div>
    {% endif %}

    <div class="p-2"></div>

    <h4>Veranstaltung</h4>

    <div class="form-group">
        <label class="form-label" for="input-example-1">Veranstaltungstitel</label>
        <input class="form-input" type="text" name="title" placeholder="Titel" value="{{ event_data.title }}">
    </div>

    <div class="form-group">
        <label class="form-label" for="input-example-3">Beschreibung</label>
        <textarea class="form-input" name="description" rows="15">{{ event_data.description }}</textarea>
    </div>
    <p>
        *<i>Kursiv</i>* &emsp; **<b>Fett</b>** &emsp; --- Horizontale Linie,
    </p>

    <div class="form-group">
        <label class="form-label" for="input-example-1">Banner Bild</label>
        <input class="form-input" type="file" name="bannerImage">
    </div>

    <div class="form-group">
        <label class="form-switch">
            <input type="checkbox" name="active" value="1" {% if event_data.active==1 %}checked{% endif %}>
            <i class="form-icon"></i> Aktiv
        </label>
    </div>

    <div class="p-2"></div>

    <div class="col-4 col-sm-12">
        <button class="btn btn-primary btn-block">Speichern</button>
    </div>

</form>

<div class="p-2"></div>

<div class="col-4 col-sm-12">
    <a href="{{ url_for('eventAdmin', adminToken=event_data.adminToken, eventID=event_data.eventID) }}"><button
            class="btn btn-block">Abbrechen</button></a>
</div>

<div class="p-2"></div>
<div class="p-2"></div>
<div class="p-2"></div>


{% endblock %}