{% extends 'eventBase.html' %}

{% block content %}

<H1 class="text-left mt-2">Verwaltung</H1>
<H2 class="text-left mt-2">{% if event_data.active == 0 %}<span class="text-error">(Inaktiv)</span> {% endif %}{{
    event_data.title }}</H2>
<p>
    {{ event_data.description[:300] }}...
</p>
<p>
    <a href="{{ url_for('eventAdmin_event_edit', adminToken=event_data.adminToken, eventID=event_data.eventID) }}">Veranstaltung
        bearbeiten</a>
</p>

<p>
    <a href="{{ url_for('eventView', eventID=event_data.eventID) }}">Zur Anmeldeseite</a>
</p>

<div class="divider"></div>

<p>
    Liste der AGs:
</p>
<ul>
    {% for a in activity_data %}
    <li>
        {% if a.active == 0 %}<span class="text-error">(Inaktiv)</span> {% endif %}{{ a.title }} -
        <a
            href="{{ url_for('eventAdmin_activity_edit', adminToken=event_data.adminToken, eventID=event_data.eventID, activityID=a.activityID) }}">Bearbeiten</a>
        -
        <a
            href="{{ url_for('eventAdmin_activity_delete', adminToken=event_data.adminToken, eventID=event_data.eventID, activityID=a.activityID) }}">Löschen</a>
    </li>
    {% endfor %}
</ul>

<p>
    <a href="{{ url_for('eventAdmin_activity_add', adminToken=event_data.adminToken, eventID=event_data.eventID) }}"><i
            class="icon icon-plus"></i> + AG
        hinzufügen</a>
</p>

<div class="divider"></div>

<p>
    <a href="{{ url_for('eventAdmin_attendees_xlsx', adminToken=event_data.adminToken, eventID=event_data.eventID) }}">Download
        Microsoft Excel
        Teilnehmerliste</a>
</p>

<p>
    <a href="{{ url_for('eventAdmin_activity_docx', adminToken=event_data.adminToken, eventID=event_data.eventID) }}">Download
        Microsoft Word AG
        Übersicht</a>
</p>

<p>
    QR Code mit der URL zur Anmeldung: {{ request.url_root[:-1] }}{{ url_for("t",
    tinylink=event_data.tinylink) }}
</p>
<img src="{{ url_for('qr', eventID=event_data.eventID) }}" />


<div class="p-2"></div>

{% endblock %}