{% extends 'apparatusBase.html' %}

{% block content %}

<div class="p-2"></div>

<h1>Apparatus</h1>

<p>
    Organisationstool für Veranstaltungen.
</p>
<ul>
    <li>Kostenlose Nutzung</li>
    <li><a href="https://github.com/akleber/apparatus">Open Source</a></li>
    <li>Server in Deutschland</li>
    <li>DSGVO konform, keine Cookies</li>
    <li>Built with love using Flask, SQLite, Caddy</li>
</ul>

<div class="p-2"></div>

<p>
    <a href="{{ url_for('eventAdmin_event_add') }}"><button class="btn btn-primary">Veranstaltung erstellen</button></a>
    <a href="{{ url_for('t', tinylink='abc') }}"><button class="btn">Demo</button></a>
    <a
        href="{{ url_for('eventAdmin', adminToken='785042b3-0fab-486e-9e0b-9be1e25e3358', eventID='a526e980-a014-41cc-b03d-33d09c09a16a') }}"><button
            class="btn">Demo Admin</button></a>
</p>

<div class="p-2"></div>

{% endblock %}