{% extends 'apparatusBase.html' %}

{% block content %}

<div class="p-2"></div>

<h1>Apparatus</h1>

<p>
    Organisationstool für Veranstaltungen.
</p>
<ul>
    <li>Kostenlose Nutzung</li>
    <li><a href="https://github.com/akleber/apparatus">Open Source</a></li>
    <li>Server in Deutschland</li>
    <li>DSGVO konform, keine Cookies</li>
    <li>Built with love using Flask, SQLite, Caddy</li>
</ul>

<div class="p-2"></div>

<p>
    <a href="{{ url_for('eventAdmin_event_add') }}"><button class="btn btn-primary">Veranstaltung erstellen</button></a>
    <a href="{{ url_for('t', tinylink='QKkdjYX2q6') }}"><button class="btn">Demo</button></a>
    <a
        href="{{ url_for('eventAdmin', adminToken='ca6c85f7-4473-4480-bffa-3a24d89dc4cd', eventID='6b8f666b-e74e-44f2-9c11-5eb59625b232') }}"><button
            class="btn">Demo Admin</button></a>
</p>

<div class="p-2"></div>

{% endblock %}