{% extends 'eventBase.html' %}

{% block content %}

<script type="text/javascript">
  function chkcontrol(j) {
    var total = 0;
    for (var i = 0; i < document.form1.activity.length; i++) {
      if (document.form1.activity[i].checked) {
        total = total + 1;
      }
      if (total > 2) {
        //alert("Please Select only three")
        document.form1.activity[j].checked = false;
        return false;
      }
    }
  }
</script>

<H1 class="text-left mt-2">{{ event_data.title }}</H1>

<div>
  {{ event_data.description | safe }}
</div>

<div class="columns">
  <div class="column col-9 col-xs-12">

    <form name="form1" class="form-horizontal" action="{{ url_for('register', eventID=event_data.eventID) }}"
      method="POST">

      {{ form.csrf_token }}

      <div class="form-group">
        <div class="col-3 col-sm-12">
          {{ form.firstName.label(class="form-label", style="padding-bottom:0px") }}
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </div>
        <div class="col-9 col-sm-12">
          {{ form.firstName(class="form-input", placeholder=form.firstName.label.text) }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          {{ form.familyName.label(class="form-label", style="padding-bottom:0px") }}
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </div>
        <div class="col-9 col-sm-12">
          {{ form.familyName(class="form-input", placeholder=form.familyName.label.text) }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          {{ form.mail.label(class="form-label", style="padding-bottom:0px") }}
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </div>
        <div class="col-9 col-sm-12">
          {{ form.mail(class="form-input", placeholder=form.mail.label.text) }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          {{ form.klasse.label(class="form-label") }}
        </div>
        <div class="col-2 col-sm-12">
          {{ form.klasse(class="form-input", placeholder=form.klasse.label.text) }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          {{ form.telefonnummer.label(class="form-label") }}
        </div>
        <div class="col-9 col-sm-12">
          {{ form.telefonnummer(class="form-input", placeholder=form.telefonnummer.label.text) }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="ganztag">Ganztag</label>
        </div>

        {% for subfield in form.ganztag %}
        <label class="form-radio form-inline">
          {{ subfield }}<i class="form-icon"></i> {{ subfield.label.text }}&emsp;&emsp;
        </label>
        {% endfor %}
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" name="foevMitglied">
          <i class="form-icon"></i> Mitglied im Förderverein
        </label>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          {{ form.foevMitgliedsname.label(class="form-label") }}
        </div>
        <div class="col-9 col-sm-12">
          {{ form.foevMitgliedsname(class="form-input", placeholder=form.foevMitgliedsname.label.text) }}
        </div>
      </div>

      <div class="p-2"></div>

      <div class="form-group">
        <label class="">
          <u>AG-Wunsch (zwei Nennungen möglich)</u>
        </label>
      </div>

      {% for a in activity_data %}
      <div class="form-group">
        <label class="form-checkbox">
          <input type="checkbox" name="activity" value="{{ a['activityID'] }}" onclick='chkcontrol({{ loop.index0 }})'>
          <i class="form-icon"></i> {{ a['title'] }} &emsp;<span class="label"><a
              href="{{ url_for('activityAbout', activityID=a['activityID']) }}" target="_blank">Infos</a></span>
        </label>
      </div>
      {% endfor %}

      <div class="p-2"></div>

      <div class="form-group">
        <label class="form-switch">
          {{ form.beideAGs }}
          <i class="form-icon"></i> Bei ausreichender Verfügbarkeit der Plätze möchte mein Kind an beiden Wunsch-AGs
          teilnehmen.
        </label>
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" required>
          <i class="form-icon"></i> Mit der Weitergabe meiner Kontaktdaten an die AG-Leitung bin ich
          einverstanden.<br />
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </label>
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" required>
          <i class="form-icon"></i> Ich habe die <span class="label"><a
              href="{{ url_for('legal', eventID=event_data.eventID) }}" target="_blank">AGB</a></span> gelesen und
          akzeptiert.&emsp;<span class="label"><a
              href="{{ url_for('legal_download', eventID=event_data.eventID) }}">Download AGB <i
                class="icon icon-download"></i></a></span><br />
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </label>
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" required>
          <i class="form-icon"></i> Ich habe verstanden, das die AG Kosten in Höhe von 60€ pro AG nach Zusage des
          Platzes / der Plätze fällig
          sind.<br />
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </label>
      </div>

      <div class="p-2"></div>

      <button class="btn btn-primary btn-block">Anmelden</button>

      <div class="p-2"></div>
      <div class="p-2"></div>
      <div class="p-2"></div>

    </form>

  </div>
</div>

{% endblock %}