{% extends 'eventBase.html' %}

{% block content %}

<H1 class="text-left mt-2">Anmeldung erfolgreich!</H1>

<div>
    <p>
        Vielen Dank {{ user_data.firstName }} für Deine Anmeldung bei "{{ event_data.title }}".
    </p>
    <p>
        {% if activity_titles|length > 0 -%}
        Deine AG Wünsche:
    <ul>
        {% for at in activity_titles -%}
        <li>{{ at }}</li>
        {% endfor -%}
    </ul>
    {% else -%}
    Du hast dich für kein AGs eingetragen!
    {% endif %}
    </p>
    <p>
        Eine E-Mail mit einem Link zum Bestätigen Deiner E-Mail Adresse '{{ user_data.mail }}'
        wurde gerade versendet und sollte in Kürze bei Dir eintreffen.
    </p>
    <p>
        In dieser E-Mail findest Du auch einen Link um eine DSGVO konforme Auskunft zu erhalten, mit allen
        Daten die wir zu Dir gespeichert haben.<br />
        Eine Auskunft kann einfach mit diesem Link oder diesem Token: <span class="text-light bg-primary">{{
            user_data.gdprToken
            }}</span> erteilt werden!
    </p>
</div>

{% endblock %}