{% extends 'eventBase.html' %}

{% block content %}

<script type="text/javascript">
  function chkcontrol(j) {
    var total = 0;
    for (var i = 0; i < document.form1.activity.length; i++) {
      if (document.form1.activity[i].checked) {
        total = total + 1;
      }
      if (total > 2) {
        //alert("Please Select only three")
        document.form1.activity[j].checked = false;
        return false;
      }
    }
  }
</script>

<H1 class="text-left mt-2">{{ event_data.title }}</H1>

<div>
  {{ event_data.description | safe }}
</div>

<div class="columns">
  <div class="column col-9 col-xs-12">

    <form name="form1" class="form-horizontal" action="{{ url_for('register', eventID=event_data.eventID) }}"
      method="POST">

      <input type="hidden" name="eventID" value="{{ event_data.eventID }}">

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="firstName" style="padding-bottom:0px">Vorname Kind</label>
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" id="firstName" name="firstName" placeholder="Vorname Kind" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="familyName" style="padding-bottom:0px">Nachname Kind</label>
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" id="familyName" name="familyName" placeholder="Nachname Kind" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="mail" style="padding-bottom:0px">E-Mail Adresse</label>
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" id="mail" name="mail" placeholder="E-Mail Adresse" required>

        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="klasse">Klasse</label>
        </div>
        <div class="col-2 col-sm-12">
          <input class="form-input" type="text" id="klasse" name="klasse" placeholder="Klasse">
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="telefonnummer">Telefonnummer</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" id="telefonnummer" name="telefonnummer" placeholder="Telefonnummer">
        </div>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="ganztag">Ganztag</label>
        </div>

        <label class="form-radio form-inline">
          <input type="radio" id="ganztag" name="ganztag" value="0" checked><i class="form-icon"></i> kein
          Teilnahme&emsp;&emsp;
        </label>
        <label class="form-radio form-inline">
          <input type="radio" name="ganztag" value="1"><i class="form-icon"></i> bis 14:30 Uhr&emsp;&emsp;
        </label>
        <label class="form-radio form-inline">
          <input type="radio" name="ganztag" value="2"><i class="form-icon"></i> bis 17:00 Uhr
        </label>
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" name="foevMitglied">
          <i class="form-icon"></i> Mitglied im Förderverein
        </label>
      </div>

      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="foevMitgliedsname">Name des Mitglieds</label>
        </div>
        <div class="col-9 col-sm-12">
          <input class="form-input" type="text" id="foevMitgliedsname" name="foevMitgliedsname"
            placeholder="Name des Mitglieds">
        </div>
      </div>

      <div class="p-2"></div>

      <div class="form-group">
        <label class="">
          <u>AG-Wunsch (zwei Nennungen möglich)</u>
        </label>
      </div>

      {% for a in activity_data %}
      <div class="form-group">
        <label class="form-checkbox">
          <input type="checkbox" name="activity" value="{{ a['activityID'] }}" onclick='chkcontrol({{ loop.index0 }})'>
          <i class="form-icon"></i> {{ a['title'] }} &emsp;<span class="label"><a
              href="{{ url_for('activityAbout', activityID=a['activityID']) }}" target="_blank">Infos</a></span>
        </label>
      </div>
      {% endfor %}

      <div class="p-2"></div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" name="beideAGs" value="beide AGs">
          <i class="form-icon"></i> Bei ausreichender Verfügbarkeit der Plätze möchte mein Kind an beiden Wunsch-AGs
          teilnehmen.
        </label>
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" required>
          <i class="form-icon"></i> <b>Mit der Weitergabe meiner Kontaktdaten an die AG-Leitung bin ich
            einverstanden.</b><br />
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </label>
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" required>
          <i class="form-icon"></i> <b>Ich habe die beiliegenden AGB gelesen und akzeptiert.</b><br />
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </label>
      </div>

      <div class="form-group">
        <label class="form-switch">
          <input type="checkbox" required>
          <i class="form-icon"></i> <b>Ich habe verstanden, das die AG Kosten in Höhe von 60€ pro AG nach Zusage des
            Platzes / der Plätze fällig
            sind.</b><br />
          <span class="text-small text-warning">Nötig für die Anmeldung!</span>
        </label>
      </div>

      <div class="p-2"></div>

      <button class="btn btn-primary btn-block">Anmelden</button>

      <div class="p-2"></div>
      <div class="p-2"></div>
      <div class="p-2"></div>

    </form>

  </div>
</div>

{% endblock %}